.swiper-image {
    height: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
  }
  
  .swiper-image img {
    display: block;
    max-height: 80%;
    max-width: 90%;
  }