html,
body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.humberger__menu__overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: 98;
  visibility: visible;
  -webkit-transition: all, 0.6s;
  -moz-transition: all, 0.6s;
  -ms-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  transition: all, 0.6s;
}
.humberger__menu__overlay.active {
  visibility: visible;
}
.humberger__menu__wrapper {
  width: 300px;
  background: #ffffff;
  position: fixed;
  left: 0px;
  top: 0;
  height: 100%;
  overflow-y: auto;
  z-index: 99;
  padding: 30px;
  padding-top: 50px;
  opacity: 1;
  display: block;
  -webkit-transition: all, 0.6s;
  -moz-transition: all, 0.6s;
  -ms-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  transition: all, 0.6s;
}

.humberger__menu__logo {
  margin-bottom: 30px;
}
.humberger__menu__logo a {
  display: inline-block;
}

.humberger__menu__cart ul {
  display: inline-block;
  margin-right: 25px;
}
.humberger__menu__cart ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
.humberger__menu__cart ul li:last-child {
  margin-right: 0;
}
.humberger__menu__cart ul li a {
  position: relative;
}
.humberger__menu__cart ul li a i {
  font-size: 18px;
  color: #1c1c1c;
}
.humberger__menu__cart ul li a span {
  height: 13px;
  width: 13px;
  background: #7fad39;
  font-size: 10px;
  color: #ffffff;
  line-height: 13px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -12px;
}
.humberger__menu__cart .header__cart__price {
  font-size: 14px;
  color: #6f6f6f;
  display: inline-block;
}
.humberger__menu__cart .header__cart__price span {
  color: #252525;
  font-weight: 700;
}
.humberger__menu__cart {
  margin-bottom: 25px;
}